<article id="home" class="panel special" >
    <div class="image" >
        <img src="static/images/pic01.jpg" alt="" data-position="center center" />
    </div >
    <div class="content" >
        <div class="inner" >
            <header >
                <h1 >
                    MOHAMED EL OMARI
                </h1 >
                <p >
                    A Geek , living with python zen in his daily life
                </p >
            </header >
            <nav id="nav" >
                <ul class="actions stacked special animated spinY" >
                    <li ><a href="#about" class="button" >About</a ></li >
                    <li ><a href="#experiences" class="button" >Experiences</a ></li >
                    <li ><a href="#projects" class="button" >Projects</a ></li >
                    <li ><a href="#" class="button" >Blog</a ></li >
                    <li >
                        <a href="https://www.velvetjobs.com/resume/dokmym/mohamed-el-omari" class="button" >
                            My resume
                        </a >
                    </li >
                    <li ><a href="#contact" class="button" >Contact me</a ></li >
                </ul >
            </nav >
            <ul class="icons" >
                <li ><a href="{{ data.linkedin }}" class="icon brands fa-linkedin" ><span
                        class="label" >linkedin</span ></a ></li >

                <li ><a href="{{ data.instagram }}" class="icon brands fa-instagram" ><span
                        class="label" >instagram</span ></a ></li >
                <li ><a href="{{ data.facebook }}"
                        class="icon brands fa-facebook-f" ><span class="label" >Facebook</span ></a >
                </li >
                <li ><a href="{{ data.github }}" class="icon brands fa-github" ><span class="label" >GitHub</span ></a >
                </li >
                <li ><a href="mailto:{{ data.email }}?subject='Interested In You | From Portfolio'" class="icon solid
                fa-envelope"
                ><span
                        class="label" >Email</span ></a ></li >
                <li >
                    <a href="tel:{{ data.phone }}" class="icon solid fa-phone" >
                        <span class="label" >Phone</span >
                    </a >
                </li >
            </ul >
        </div >
    </div >
</article >

