<article id="about" class="panel secondary" >
    <div class="image" >
        <img src="static/images/pic02.jpg" alt="" data-position="center center" />
    </div >
    <div class="content" >
        <ul class="actions animated spinX" >
            <li ><a href="#" class="button small back" >Back</a ></li >
        </ul >
        <div class="inner" >
            <header >
                <h2 >About</h2 >
                <p >
                    A Geek , living with python zen in his daily life
                </p >
                <p ><s >if you know what it means</s ></p >
            </header >
            <p >
                I am an enthusiastic, self-motivated, reliable, responsible and hard working person ,excellent in
                software development ,architecture ,design patterns and debugging techniques .
            </p >
            <p >
                As a polyglot developer, I am comfortable working with a wide variety of languages, as well as picking
                up new languages as necessary to solve the problems at hand.
            </p >
            <p >
                With Experience in android development and good Knowledge in data science , Machine learning and
                computer
                vision .
                also with a strong academic background in electronics and Telecommunications.
            </p >

        </div >
    </div >
</article >
