<style type="text/css">
    .wide {
        width: 100vw;
    }

    .card-img-top {
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }

    .padding {
        padding: 20px;
    }
</style>

<div id="projects" class="panel wide">

    <div class="content">
        <ul class="actions animated spinX">
            <li><a href="#" class="button small back">Back</a></li>
        </ul>
        <header>
            <h2>All projects</h2>
        </header>
        <div class="container">
            <div class="card padding">
                <img class="card-img-top embed-responsive-16by9"
                     src="static/images/p3cover.jpg"
                     alt="Avatar">
                <div class="card-body">
                    <h4 class="card-title">Recommendation System</h4>
                    <p class="card-text">based on Machine Learning with
                        Administration Dashboard and served as a REST-full API
                        App</p>

                    <a href="https://nektiu.com/yoruser-recomendador/" target="_blank"
                       class="button primary  stretch">See Details</a>
                </div>
            </div>
            <div class="card padding">
                <img class="card-img-top embed-responsive-item"
                     src="static/images/p4cover.jpg"
                     alt="Avatar">
                <div class="card-body">
                    <h4 class="card-title">This Portfolio</h4>
                    <p class="card-text">A guide on how i made this Portfolio , with flask and netlify and
                        domain linking
                    </p>

                    <a href="#projects" class="button primary  stretch">See Details</a>
                </div>
            </div>
            <div class="card padding">
                <img class="card-img-top embed-responsive-item"
                     src="static/images/p2cover.jpg"
                     alt="Avatar">
                <div class="card-body">
                    <h4 class="card-title">Linkedin Automation Script </h4>
                    <p class="card-text">Promote a linkedin account Without Linkedin REST API</p>
                    <a href="https://github.com/Med-ELOMARI/Linkedin_Promoter" target="_blank"
                       class="button primary  spinX stretch">See Details</a>
                </div>
            </div>
            <div class="card padding">
                <img class="card-img-top embed-responsive-item"
                     src="static/images/p1cover.jpg"
                     alt="Avatar">
                <div class="card-body">
                    <h4 class="card-title">Rover Robot</h4>
                    <p class="card-text">Robot based on Raspberry pi and Controlled with an Android
                        App</p>
                    <a href="#projects" class="button primary spinX stretch">See Details</a>
                </div>
            </div>
            <hr class="mt-2 mb-2">
        </div>
    </div>
</div>

