<style >
    .stretch {
        width: 100%;
    }

    .panel {
        width: auto;
    }

    .card-img-top {
        width: 100% !important;
        height: 300px !important;
        object-fit: cover;
    }
    .padding {
        padding:20px;
    }

</style >

<article id="projects" class="panel secondary " >

    <div class="content" >
        <ul class="actions animated spinX" >
            <li ><a href="#" class="button small back" >Back</a ></li >
        </ul >
        <header >
            <h2 >All projects</h2 >
        </header >
        <div class="container" >
            <div class="row justify-content-md-center" >
                <div class="col-lg-6 col-md-6 col-sm-6 padding" >
                    <div class="card h-100" >
                        <img class="card-img-top embed-responsive-item"
                             src="static/images/p3cover.jpg"
                             alt="Avatar" >
                        <div class="card-body" >
                            <h4 class="card-title" >Recommendation System</h4 >
                            <p class="card-text" >based on Machine Learning with
                                                  Administration Dashboard and served as a REST-full API
                                                  App</p >

                            <a href="#projects" class="button primary  stretch" >See Details</a >
                        </div >
                    </div >
                </div >
                <div class="col-lg-6 col-md-6 col-sm-6 padding" >
                    <div class="card h-100" >
                        <img class="card-img-top embed-responsive-item"
                             src="static/images/p4cover.jpg"
                             alt="Avatar" >
                        <div class="card-body" >
                            <h4 class="card-title" >This Portfolio</h4 >
                            <p class="card-text" >A guide on how i made this Portfolio , with flask and netlify and
                                                  domain linking
                            </p >

                            <a href="#projects" class="button primary  stretch" >See Details</a >
                        </div >
                    </div >
                </div >
            </div >
            <div class="row justify-content-md-center" >
                <div class="col-lg-6 col-md-6 col-sm-6 padding" >
                    <div class="card h-100" >
                        <img class="card-img-top embed-responsive-item"
                             src="static/images/p2cover.jpg"
                             alt="Avatar" >
                        <div class="card-body" >
                            <h4 class="card-title" >Linkedin Automation Script </h4 >
                            <p class="card-text" >Promote a linkedin account Without Linkedin REST API</p >
                            <a href="#projects" class="button primary  spinX stretch" >See Details</a >
                        </div >
                    </div >
                </div >
                <div class="col-lg-6 col-md-6 col-sm-6 padding" >
                    <div class="card  h-100" >
                        <img class="card-img-top embed-responsive-item"
                             src="static/images/p1cover.jpg"
                             alt="Avatar" >
                        <div class="card-body" >
                            <h4 class="card-title" >Rover Robot</h4 >
                            <p class="card-text" >Robot based on Raspberry pi and Controlled with an Android
                                                  App</p >
                            <a href="#projects" class="button primary spinX stretch" >See Details</a >
                        </div >
                    </div >
                </div >
            </div >
            <hr class="mt-2 mb-2" >
        </div >
    </div >
</article >

