
    <head>
        <title>{{ data.seo_title }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="description" content="{{ data.seo_desc }}" />
        <meta name="keywords" content="{{ data.seo_keys }}" />
            <link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript>
            <link rel="stylesheet" href="static/assets/css/noscript.css" />
        </noscript>

        <!-- Fav icons -->
        <link rel="shortcut icon" type="image/x-icon" href="static/assets/favicons/favicon-196x196.png" sizes="196x196" />
        <link rel="shortcut icon" type="image/x-icon" href="static/assets/favicons/favicon-160x160.png" sizes="160x160" />
        <link rel="shortcut icon" type="image/x-icon" href="static/assets/favicons/favicon-96x96.png"   sizes="96x96"   />
        <link rel="shortcut icon" type="image/x-icon" href="static/assets/favicons/favicon-16x16.png"   sizes="16x16"   />
        <link rel="shortcut icon" type="image/x-icon" href="static/assets/favicons/favicon-32x32.png"   sizes="32x32"   />
        <!-- End Fav icons -->
	    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146840752-1" ></script >
<script >
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-146840752-1');
</script >

    </head>
