<article id="experiences" class="panel secondary" >
    <div class="image" >
        <img src="static/images/pic03.jpg" alt="" data-position="center center" />
    </div >
    <div class="content" >
        <ul class="actions animated spinX" >
            <li ><a href="#" class="button small back" >Back</a ></li >
        </ul >
        <div class="inner" >
            <header >
                <h2 >Experiences</h2 >
            </header >
            <section >
                <hr >
                <h4 >
                    <strong style="color:darkblue;" >
                        Trainee - Software Engineer
                    </strong ><sup style="color:darkorange" > 03/2019-Now</sup >
                    <i ><h6 style="color:slateblue;" >Nektui SL - Madrid Area, Spain</h6 ></i >
                </h4 >
                <ul style="color:lightslategray;" >
                    <li >Designed and developed , a <em >centralized recommendation Restful API</em > named "<em >Yoruser</em >"
                         ,the database schema ,back-end system ,Machine learning modeling and deployment , taking
                         into account both business and technical considerations .
                    </li >
                    <li >Used <em >Flask</em > , <em >WSGI</em > web application framework , <em >Restful</em >
                         architecture ,<em >JWT</em > ,<em >JSON</em > ,<em >MySQL</em > , <em >SQL alchemy ORM
                                                                                                ,Swagger</em > <em >Documentation</em >
                         and <em >testing</em > and finally <em >Pytorch</em > as the core of the product.
                    </li >
                    <li >Created and customized <em >UI</em > and pages for <em >administration Dashboard</em >
                         using <em >Jinja2</em > and <em >HTML/Bootstrap 4.</em ></li >
                    <li >Identify and implementing methods/algorithms for recommendations and data cleaning .</li >
                    <li >Created the user experience and product usage work-flow with documentation and guides .
                    </li >
                    <li >Deployed and hosted the product with <em >AWS Elastic Beanstalk</em > <em >and MySQL
                                                                                                    Relational
                                                                                                    Database
                                                                                                    Service.</em >
                    </li >
                    <li >Automated daily routine tasks like videos upload to <em >IBM Video Streaming platform</em >
                         and many others in the company.
                    </li >
                </ul >
                </hr>
            </section >
            <section >
                <hr >
                <h4 >
                    <strong style="color:darkblue;" >
                        Technical Internship - Graduation Internship
                    </strong ><sup style="color:darkorange" > 2016 - May to July</sup >
                    <i ><h6 style="color:slateblue;" >Sofitel - Essaouira Province, Morocco</h6 ></i >
                </h4 >

                <ul style="color:lightslategray;" >
                    <li >Design and Simulation of a safe-deposit box based on ATmega32U4 for Rooms in the hotel</li >
                    <li >Been a part of the development team, designing and implementing</li >
                    <li >Study of the electrical equipment of the MV/LV transformer station and Power Substations
                         Design
                    </li >
                    <li >Coding efficient solutions in embedded C++ and assembly</li >
                </ul >
                </hr>
            </section >
            <header >
                <h2 >Education</h2 >
            </header >
            <section >
                <hr >
                <h4 >
                    <strong style="color:darkblue;" >
                        Master of Engineering - in Telecommunications and Embedded Systems
                    </strong ><sup style="color:darkorange" >2016 – 2019</sup >
                    <i ><h6 style="color:slateblue;" >Hassan the 1th University - Settat , Morocco</h6 ></i >
                </h4 >
                </hr>
            </section >
            <section >
                <hr >
                <h4 >
                    <strong style="color:darkblue;" >
                        Bachelor - in Electrical Engineering and Computer Science
                    </strong ><sup style="color:darkorange" >2014 – 2016</sup >
                    <i ><h6 style="color:slateblue;" >Higher School of Technologies - Salé , Morocco</h6 ></i >
                </h4 >
                </hr>
            </section >
            <section >
                <hr >
                <h4 >
                    <strong style="color:darkblue;" >
                        High school diploma - in physics and chemistry
                    </strong ><sup style="color:darkorange" >2011 – 2014</sup >
                    <i ><h6 style="color:slateblue;" >Rahali El Farouk High School  - &hearts;Attaouia&hearts;, Morocco</h6 ></i >
                </h4 >
                </hr>
            </section >
        </div >
    </div >
</article >
