{#<style >#}
{#    .stretch {#}
{#        width: 100%;#}
{#    }#}
{##}
{#    .panel {#}
{#        width: 70%;#}
{#    }#}
{##}
{#    .card-img-top {#}
{#        width: 100% !important;#}
{#        height: 300px !important;#}
{#        object-fit: cover;#}
{#    }#}
{#</style >#}

<article id="projects" class="panel secondary">
    <div class="image">
        <img src="static/images/pic04.jpg" alt="" data-position="center center"/>
    </div>
    <div class="content">
        <ul class="actions animated spinX">
            <li><a href="#" class="button small back">Back</a></li>
        </ul>
        <div class="inner">
            <header>
                <h2>Projects</h2>
            </header>
            <div class="container-fluid" >
                <div class="row" >
                    <div class="col" >
                        <div class="card h-100" >
                            <img class="card-img-top embed-responsive-item"
                                 src="static/images/p3cover.jpg"
                                 alt="Avatar"
                                 style="width:100%" >
                            <div class="card-body d-flex flex-column" >
                                <h4 class="card-title" >Recommendation System</h4 >
                                <p class="card-text" >based on Machine Learning with
                                                      Administration Dashboard and served as a REST-full API
                                                      App</p >
                                <ul class="actions animated spinX" >
                                    <li >
                                        <a href="#projects" class="button align-self-end primary  stretch" >See Details</a >
                                    </li >
                                </ul >

                            </div >
                        </div >
                    </div >
                </div >
                <hr class="mt-2 mb-2" >
                <div class="row" >
                    <div class="col-6" >
                        <div class="card h-100" >
                            <img class="card-img-top embed-responsive-item"
                                 src="static/images/p1cover.jpg"
                                 alt="Avatar"
                                 style="width:100%" >
                            <div class="card-body d-flex flex-column" >
                                <h4 class="card-title" >Rover Robot</h4 >
                                <p class="card-text" >Robot based on Raspberry pi and Controlled with an Android
                                                      App</p >
                                <a href="#projects" class="button align-self-end primary spinX stretch" >See Details</a >
                            </div >
                        </div >
                    </div >
                    <hr class="mt-2 mb-2" >
                    <div class="col-6" >
                        <div class="card h-100" >
                            <img class="card-img-top embed-responsive-item"
                                 src="static/images/p2cover.jpg"
                                 alt="Avatar"
                                 style="width:100%" >
                            <div class="card-body d-flex flex-column" >
                                <h4 class="card-title" >Linkedin Automation Script </h4 >
                                <p class="card-text" >Promote a linkedin account Without Linkedin REST API</p >
                                <a href="#projects" class="button align-self-end primary  spinX stretch" >See Details</a >
                            </div >
                        </div >
                    </div >
                </div >
                <hr class="mt-2 mb-2" >

                <div class="row " >
                    <div class="col-12" >
                        <a href="{{ url_for('portfolio_blueprint.allposts') }}" class="actions animated spinX button
                         primary stretch" >
                            See all Projects</a >
                    </div >
                </div >
            </div >
        </div >
    </div>
</article>

