<article id="home" class="panel special">
    <div class="image">
        <img src="static/images/pic01.jpg" alt="" data-position="center center"/>
    </div>
    <div class="content">

        <div class="inner">
            <header>
                <h2>
                    <strong>Mohamed El Omari</strong>
                </h2>
                <p>
                    Hey, I'm a software developer. A Geek , believing in
                    <a href="#zen">Python Zen</a>
                    in the daily life
                </p>
            </header>
            <nav id="nav">
                <ul class="actions stacked special animated spinY">
                    <li><a href="#about" class="button">About</a></li>
                    <li><a href="#experiences" class="button">Experiences</a></li>
                    <li><a href="#projects" class="button">Projects</a></li>
                    <li><a href="https://blog.elomari.ml" class="button" target="_blank">Blog</a></li>
                    <li>
                        <a href="https://www.velvetjobs.com/resume/dokmym/mohamed-el-omari" class="button"
                           target="_blank">
                            My resume
                        </a>
                    </li>
                    <li><a href="#contact" class="button">Contact me</a></li>
                    <li><a href="https://drift.me/mohamedelomari/meeting" class="button primary" target="_blank">Schedule
                        a
                        meeting</a>
                    </li>
                </ul>
            </nav>
            <ul class="icons">
                <li><a href="{{ data.linkedin }}" class="icon brands fa-linkedin" target="_blank"><span
                        class="label">linkedin</span></a></li>

                <li><a href="{{ data.instagram }}" class="icon brands fa-instagram" target="_blank"><span
                        class="label">instagram</span></a></li>
                <li><a href="{{ data.facebook }}"
                       class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a>
                </li>
                <li><a href="{{ data.github }}" class="icon brands fa-github" target="_blank"><span
                        class="label">GitHub</span></a>
                </li>
                <li>
                    <a href="mailto:{{ data.email }}?subject='Hi There | From Portfolio'" class="icon solid
                fa-envelope"
                       target="_blank">
                    <span
                            class="label">Email</span></a></li>
                <li>
                    <a href="tel:{{ data.phone }}" class="icon solid fa-phone" target="_blank">
                        <span class="label">Phone</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</article>

