
    <article id="flask" class="panel secondary">
        <div class="image">
            <img src="/static/images/pic03.jpg" alt="" data-position="center center" />
        </div>
        <div class="content">
            <ul class="actions animated spinX">
                <li><a href="#" class="button small back">Back</a></li>
            </ul>
            <div class="inner">
                <header>
                    <h2>
                        <a >Experiences</a>
                    </h2>

                </header>
                <p>
                    ...
                </p>
            </div>
        </div>
    </article>
