
    <article id="flask" class="panel secondary">
        <div class="image">
            <img src="/static/images/pic03.jpg" alt="" data-position="center center" />
        </div>
        <div class="content">
            <ul class="actions animated spinX">
                <li><a href="#" class="button small back">Back</a></li>
            </ul>
            <div class="inner">
                <header>
                    <h2>
                        <a href="https://palletsprojects.com/p/flask/">Flask</a>
                    </h2>
                    <p>
                        A few words about Flask Microframework
                    </p>
                </header>
                <p>
                    Flask is a lightweight WSGI web application framework. 
                    It is designed to make getting started quick and easy, with the ability to scale up to complex applications. 
                    It began as a simple wrapper around Werkzeug and Jinja and has become one of the most popular Python web application frameworks.
                </p>
            </div>
        </div>
    </article>
