
    <article id="product" class="panel secondary">
        <div class="image">
            <img src="/static/images/pic02.jpg" alt="" data-position="center center" />
        </div>
        <div class="content">
            <ul class="actions animated spinX">
                <li><a href="#" class="button small back">Back</a></li>
            </ul>
            <div class="inner">
                <header>
                    <h2>About</h2>
                    <p>
                        Blazing fast app, with a beautiful design crafted by Pixelarity agency. 
                    </p>
                </header>
                <p>
                    Skip over the boring part of integrating a new design into your next project and use this pre-built JAMstack application.    
                </p>
                <p>
                    The app is already equipped with tooling, components extracted from the design and can be used right away in production.
                </p>
                Read ore about this app on the official <a href="{{ data.product }}">product page</a>.
            </div>
        </div>
    </article>
